@model SUACC.Apresentacao.UI.MVC.Models.ForgotPasswordViewModel
@{
    Layout = "~/Views/Shared/_LayoutLimpo.cshtml";
}

<h2>@ViewBag.Title.</h2>

<!-- Content area -->
<div class="content">
    <!-- Password recovery -->
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="panel panel-body login-form">
            <div class="text-center">
                <div class="icon-object border-warning text-warning"><i class="icon-spinner11"></i></div>
                <h5 class="content-group">Recuperação de senha <small class="display-block">Nós lhe enviaremos instruções por e-mail</small></h5>
            </div>
            <div class="form-group has-feedback ">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Seu E-mail" })

                <div class="form-control-feedback">
                    <i class="icon-mail5 text-muted"></i>
                </div>
            </div>
            <button type="submit" class="btn bg-blue btn-block">Email Link <i class="icon-arrow-right14 position-right"></i></button>
        </div>
    }
    <!-- /password recovery -->
    <!-- Footer -->
    <div class="footer text-muted text-center">
        Copyright &copy; 2018. <a href="#">SUACC</a> by <a href="#">Thiago H. Din</a>
    </div>
    <!-- /footer -->
</div>
<!-- /content area -->


<script type="text/javascript">
    $(function () {
        $('body').addClass("login-container");
    });
</script>