@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<script type="text/javascript" src="~/Content/assets/js/plugins/tables/datatables/datatables.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/plugins/forms/selects/select2.min.js"></script>
<script type="text/javascript" src="~/Content/assets/js/pages/datatables_basic.js"></script>
<script type="text/javascript" src="~/Scripts/Admin/admin-aplicacao.js"></script>

<!-- Page header -->
<div class="page-header">
    <div class="page-header-content">
        <div class="page-title">
            <h4>
                <i class="icon-arrow-left52 position-left"></i>

                <span class="text-semibold">Aplicação</span> - Lista
            </h4>
            <ul class="breadcrumb position-right">
                <li><a href="/Admin/Home/index">Administração</a></li>
                <li><a href="#">Parametrização</a></li>
                <li class="active">Aplicação</li>
            </ul>
        </div>
        <div class="heading-elements">
            <a href="/Admin/Aplicacao/Adicionar" class="btn bg-green btn-labeled heading-btn" data-Modal=""><b><i class="icon-task"></i></b> Adicionar Aplicação</a>
        </div>
    </div>
</div>

