
<div class="content">
    <div class="row">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="panel panel-flat">
                <div class="panel-body">

                    <H3>Cadastros Basicos</H3>
                    <hr class="gradient">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <button class="btn btn-default btn-float-admin btn-float-admin-lg" onclick="location.href='/Admin/Usuario/index'" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative usuários."><i class="icon-users4  text-indigo-300"></i> <span>Usuarios</span></button>
                           

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <button type="button" class="btn btn-default btn-float-admin btn-float-admin-lg" onclick="location.href='/Admin/Grupo/index'" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative GRUPOS de usuários."><i class="icon-users4  text-indigo-300"></i> <span>Grupos</span></button>

                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <button type="button" class="btn btn-default btn-float-admin btn-float-admin-lg" onclick="location.href='/Admin/Campanha/index'" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative CAMPANHAS."><i class="icon-users4  text-indigo-300"></i> <span>Campanhas</span></button>

                        </div>

                    </div>
                    <H3>Cadastros Basicos</H3>
                    <hr class="gradient">
                    <div class="row">
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <button type="button" class="btn btn-default btn-float-admin btn-float-admin-lg" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative usuários."><i class="icon-users4 text-indigo-300"></i> <span>Usuarios</span></button>

                        </div>
                        <div class="col-lg-2 col-md-2 col-sm-2">
                            <button type="button" class="btn btn-default btn-float-admin btn-float-admin-lg" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative usuários."><i class="icon-users4  text-indigo-300"></i> <span>Usuarios</span></button>

                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <button type="button" class="btn btn-default btn-float-admin btn-float-admin-lg" data-popup="tooltip" title="" data-placement="bottom" data-original-title="Crie, edite ou desative usuários."><i class="icon-users4  text-indigo-300"></i> <span>Usuarios</span></button>

                        </div>

                    </div>
                </div>
            </div>
        </div>


    </div>
</div>